@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes move {
    0% {
            transition: transform;
            transform: rotate(-5deg);
        }
    50% {
        transition: transform;
        transform: rotate(5deg);
    }
    
    100% {
            transition: transform;
            transform: rotate(-5deg);
        }
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("../image/background11.png");
    background-repeat: no-repeat;
    background-size: 70vw 100vh;
    background-position: center;
    overflow: hidden;
    touch-action: none; /* 아이폰 터비 비활성화 */
    width: 100%;
    height: 100%;
    color: black;
    font-family: 'GmarketSansMedium';
    background-color: beige;
}

#main_contents {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

#main_contents .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 500px;
}

.main_title {
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 100px;
    color: black;
    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

.intro {
    text-align: center;
    padding-bottom: 40px;
    color: black;
    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

.intro h1 {
    font-size: 20px;
    padding-bottom: 15px;
}

.animation {
    display: flex;
    justify-content: center;
}

.animation .image {
    border-radius: 30px;
    height: 350px;
    width: 550px;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.nick {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.nick .name {
    font-family: 'GmarketSansMedium';
    font-size: 16px;
    width: 250px;
    height: 40px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 7px 7px 5px grey;
    text-align: center;
}

input[name=nickname]::placeholder {
    font-family: 'GmarketSansMedium';
    font-size: 16px;
    color: black;
    text-align: center;
}

.button {
    text-align: center;
    padding-bottom: 50px;
}

.button button {
    width: 300px;
    height: 50px;
    padding: 5px;
    border-style: none;
    border-radius: 10px;
    font-family: 'GmarketSansMedium';
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    color: black;
    cursor: pointer;
}

.button button:hover {
    background-color: #aacf88;
}

.result_data {
    display: flex;
    justify-content: center;
}

.result_data .data_wrap {
    width: 270px;
    padding: 10px;
    margin-bottom: 10px;
}

.result_data h3 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}