{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
    
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<title>경로 추천</title>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
</head>
<body>    
    <section id="main_contents">
        <div class="container">
            <div class="map">
                <h1>경로 추천</h1>
                <div id="map" style="width:400px;height:300px;"></div>
            </div>
            <div class="route">
                {% for spot in routes.keys %}
                <ul>{{ spot }}</ul>
                {% if not forloop.last %}
                    <ul>⬇️</ul>
                {% endif %}
                {% endfor %}
            </div>
            <div class="question-box">
                <!-- <h2>카카오 길찾기 OpenAPI를 이용</h2> -->
                <ul id="names-q1">
                </ul>
            </div>

            <form class="survey" name="f1" method="POST" action="/survey/" onsubmit="return vCheck();">
                {% csrf_token %}
                <input type="hidden" name="traveler-pk" value="{{ traveler_id }}">
                <div class="btn">
                    <input class="survey_btn" type="submit" value="만족도 조사하기" style="font-weight: normal;">
                </div>        
            </form>
            <div class="logo">
                <img src="{% static 'image/logo.png' %}" alt="logo" height="60px" width="100px">
            </div>
        </div>
    </section>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c963b5273576eb43b2c68c2088700c47"></script>
    <script>
        let routes = JSON.parse("{{ route_js | escapejs }}");
        var start = routes.start;
        var ways = [];
        const bar = "|";
        var waypoints = "";
        var origin = {"x": start.lat, "y": start.lng};
        console.log(routes);
        for(let i = 2; i <= Object.keys(routes).length; i++){
            for(route of Object.keys(routes)){
                if(routes[route].sequence == Object.keys(routes).length) {
                    var destination = {"x": routes[route].lat, "y": routes[route].lng};
                }
                else {
                    if (routes[route].sequence == i) {
                        ways.push({"x": routes[route].lat, "y": routes[route].lng})
                    }
                }
            }   
        }
        for (way of ways){
            if (waypoints != ""){
                waypoints = waypoints + bar + way.y + "," + way.x 
            }
            else {
                waypoints = way.y + "," + way.x
            }
        }

        $.ajax({
              type: "GET",
              url: "https://apis-navi.kakaomobility.com/v1/directions?origin="+origin.y+","+origin.x+"&destination="+destination.y+","+destination.x+"&waypoints="+waypoints+"&priority=RECOMMEND&car_fuel=GASOLINE&car_hipass=false&alternatives=false&road_details=false",
              headers:{
                  Authorization: "KakaoAK 479cc207c3f10290fe4d4afc2ddec48d",
              }
        }).done(function (msg) {
            console.log(msg);
            var container = document.getElementById('map');
            var options = {
                center: new kakao.maps.LatLng(origin.x, origin.y),
                level: 10,
                marker: marker
            };

            var map = new kakao.maps.Map(container, options);
            
            // 마커 생성하기
            for (route of Object.keys(routes)) {
                var markerPosition  = new kakao.maps.LatLng(routes[route].lat, routes[route].lng); 
                // 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: markerPosition,
                });
                
                var infowindow = new kakao.maps.InfoWindow({
                    content: route // 인포윈도우에 표시할 내용
                });

                (function(marker, infowindow) {
                    // 마커에 mouseover 이벤트를 등록하고 마우스 오버 시 인포윈도우를 표시합니다 
                    kakao.maps.event.addListener(marker, 'mouseover', function() {
                        infowindow.open(map, marker);
                    });

                    // 마커에 mouseout 이벤트를 등록하고 마우스 아웃 시 인포윈도우를 닫습니다
                    kakao.maps.event.addListener(marker, 'mouseout', function() {
                        infowindow.close();
                    });
                })(marker, infowindow);
            }
            
            
            var guides = msg.routes[0].sections;
            var markers = [];
            var linePath;
            var lineLine = new kakao.maps.Polyline();
            
            for (guide of guides) {
                for (var i of guide.guides) {
                    markers.push({"x": i.x, "y": i.y});
                }
            }

            for (var k = 0; k < markers.length; k++ ){
                if (k != 0) {
                    linePath = [
                        new kakao.maps.LatLng(markers[k-1].y, markers[k-1].x), 
                        new kakao.maps.LatLng(markers[k].y, markers[k].x)]
                }
                lineLine.setPath(linePath);
                
                var polyline = new kakao.maps.Polyline({
                    map: map,
                    path: linePath, // 선을 구성하는 좌표배열 입니다
                    strokeWeight: 5, // 선의 두께 입니다
                    strokeColor: '#db4040', // 선의 색깔입니다
                    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                    strokeStyle: 'solid' // 선의 스타일입니다
                });
            }
            // 지도에 표시할 선을 생성합니다
            $("#names-q1").empty(); //화면에 출력 전에 지워주는 코드
            let mise = msg.routes[0].summary;
            let duration = (mise.duration/60).toFixed();
            // $("#names-q1").append(`<li>통행요금 : ${mise.fare.toll}원</li>`);
            // $("#names-q1").append(`<li>택시요금 : ${mise.fare.taxi}원</li>`);
            $("#names-q1").append(`<li>✅ 전체거리 : ${mise.distance/1000}km</li>`);
            $("#names-q1").append(`<li>✅ 소요시간 : 약 ${duration}분</li>`); 
        
            }
            )
    </script>
</body>
</html>