{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>어쩌다 국내여행</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/survey.css' %}">
    </head>
    <body>
        <section id="main_contents">
            <div class="wrapper">
                <form class="survey" name="f1" method="POST" action="/result/{{ traveler }}/" onsubmit="return vCheck();">
                    {% csrf_token %}
                    <h1 class="title">📝 만족도 조사</h1>
                    <div class="survey_img">
                        <img src="{% static 'image/survey' %}.png" alt="이미지 없음">
                    </div>
                    <div id="Q1">
                        <h2>💡 본 테스트의 결과가 본인의 실제 성향과 얼마나 일치하나요?</h2>
                        <span>(1: 매우 불일치, 2: 조금 불일치, 3: 보통, 4: 조금 일치, 5: 매우 일치)<br></span>
                        <div class="star1">
                            <input type="radio" name="accuracy" value="5" id="s1"><label for="s1">★</label>
                            <input type="radio" name="accuracy" value="4" id="s2"><label for="s2">★</label>
                            <input type="radio" name="accuracy" value="3" id="s3"><label for="s3">★</label>
                            <input type="radio" name="accuracy" value="2" id="s4"><label for="s4">★</label>
                            <input type="radio" name="accuracy" value="1" id="s5"><label for="s5">★</label>
                        </div>
                    </div>
                    <div id="Q2">
                        <h2>💡 본 테스트를 통해 추천된 여행지 정보에 대해 얼마나 만족하시나요?</h2>
                        <span>(1: 매우 불만족, 2: 조금 불만족, 3: 보통, 4: 조금 만족, 5: 매우 만족)<br></span>
                        <div class="star2">
                            <input type="radio" name="satisfaction" value="5" id="s6"><label for="s6">★</label>
                            <input type="radio" name="satisfaction" value="4" id="s7"><label for="s7">★</label>
                            <input type="radio" name="satisfaction" value="3" id="s8"><label for="s8">★</label>
                            <input type="radio" name="satisfaction" value="2" id="s9"><label for="s9">★</label>
                            <input type="radio" name="satisfaction" value="1" id="s10"><label for="s10">★</label>
                        </div>
                    </div>
                    <div id="Q3">
                        <h2>💡 본 테스트를 하면서 여행을 떠나고 싶다는 마음이 드셨나요?</h2>
                        <span>(1: 전혀 들지않았음, 2: 조금 들지않았음, 3: 보통, 4: 조금 들었음, 5: 매우 들었음)<br></span>
                        <div class="star3">
                            <input type="radio" name="influence" value="5" id="s11"><label for="s11">★</label>
                            <input type="radio" name="influence" value="4" id="s12"><label for="s12">★</label>
                            <input type="radio" name="influence" value="3" id="s13"><label for="s13">★</label>
                            <input type="radio" name="influence" value="2" id="s14"><label for="s14">★</label>
                            <input type="radio" name="influence" value="1" id="s15"><label for="s15">★</label>
                        </div>
                    </div>
                    <br><br>
                    <div class="smBtn">
                        <input type="submit" value="제출" style="font-weight: normal;">
                    </div>
                </form>
            </div>
        </section>
        <script type="text/javascript">
            function vCheck() {
                let inputs = document.f1;
                if (!inputs.accuracy.value) {
                    alert("모든 문항에 답하지 않았습니다.");
                    return false;
                }
                if (!inputs.satisfaction.value) {
                    alert("모든 문항에 답하지 않았습니다.");
                    return false;
                }
                if (!inputs.influence.value) {
                    alert("모든 문항에 답하지 않았습니다.");
                    return false;
                }
            }
        </script>
    </body>
</html>